<!DOCTYPE html>
<html lang="en">
<head>
    <% include shared/head %>
</head>
<body>
    <% include shared/navbar%>
    <h1>about this website  - <%= title %></h1>
    <p> Author of this web : <%= author.name %></p>
    <p>Age : <%= author.age %></p>
    <button class= "btn btn-primary">button</button>
</body>
</html>